.indexwrapper
  .background-index
    .shop-index
      - @shops.each do |shop|
        .navi-link-btn
          = link_to  shop_path(shop.id),class: 'index-btn' do
            %i.fa.fa-arrow-left
            %span #{shop.name}




        -# .content
        -#   = link_to shop_path(shop.id) do
        -#     = shop.name

