.topwrapper
  .background-top
    .explanationbox
      .top-title
        NomadCafe
        %br

      .explanation
        ノマドワークに適した、wifi・電源フリーのお店をすぐにご案内します。


    .guidance
      .guidance-box
        = link_to  shops_path,class: 'top-btn' do
          %span 福岡・天神エリアをさがす