
.background-shop-new{
  width: 100vw;
  height: 830px;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(art.jpg);
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size: cover;
  width: 100vw;
}
ul.shop-new-form{
  text-align: center;
  width: 45vw;
  margin: 0 auto;
  input::placeholder{
    color: white;
    letter-spacing: 0.5vw;
  }
  input{
    background-color: rgba(37, 36, 36, 0.55);
    color: white;
    text-align: center;
    width: 30vw;
    height: 2.3vw;
  }
}
.geocoding-link{
  text-align: center;
  margin-top: 3vw;
}
.geocoding-btn{
  text-decoration: none;
}
.back{
  text-align: center;
  margin-top: 3vw;
}
.totop-btn{
  text-decoration: none;
}

// -------------------------------
/* スマホ　横幅　480px
------------------------------ */
@media screen and (max-width:420px) {
 
  ul.shop-new-form{
    text-align: center;

    margin: 0 auto;
    input::placeholder{
      color: white;
      letter-spacing: 0.5vw;
    }
    input{
      background-color: rgba(37, 36, 36, 0.55);
      color: white;
      text-align: center;
      width: 50vw;
      height: 6vw;
 
    }
  }

}

