.background-top {
  width: 100vw;
  height: 830px;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(top.jpg);  /* 背景画像指定 */
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size: auto ;
}


.explanationbox{
  margin: auto;
  max-width: 90%;
  height: 200px;
  background-color: rgba(255, 0, 0, 0.096);
}

.top-title{
  font-size: 36px;font-weight: bold;
  text-align: center;
}
.explanation{
  text-align: center;

}



.user-signed{
  padding-top: 40px;
  text-align: center;
}
.sign-in{
  padding-top: 100px;
  text-align: center;
}
.signin-btn {
  display: inline-block;
  width: 650px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  border: 2px solid white;
  font-size: 36px;
  color: white;
  letter-spacing: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 60px;
}
.signin-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}


.registrations{
  padding-top: 100px;
  text-align: center;
}
.regist-btn {
  margin: auto;
  width: 650px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  border: 2px solid white;
  font-size: 36px;
  color: white;
  letter-spacing: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 40px;
}
.regist-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}




.guidance-box {
  margin-top: 20px;
  text-align: center;
}
/* ここから下がボタンのCSS　*/
.top-btn {
  display: inline-block;
  width: 650px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  border: 2px solid white;
  font-size: 36px;
  color: white;
  letter-spacing: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 60px;
}
.top-btn:hover {
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
}



.user-signout{
  padding-top: 100px;
  text-align: center;
}
.signout-btn {
  width: 500px;
  height: 100px;
  text-align: center;
  line-height: 120px;
  border: 2px solid white;
  font-size: 20px;
  color: white;
  letter-spacing: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 60px;
}
.signout-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}