.background-index{
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(nomadgirl.jpg);  /* 背景画像指定 */
  background-repeat:  repeat-y;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size:cover;
}


.googlemap{
  width: 900px;
  height: 600px;
  margin: auto;
  #map{
    height: 100%;
    width: 100%;
    border: 2px solid white;
  }
  .image{
    height:6rem;
    width:7rem;
  }
    .sample {
    font-family: '1';  
    }
}



.index-link-box {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 10px;
}

.index-btn {
  display: inline-block;
  // max-width: 180px;
  width: 500px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 2px solid white;
  font-size: 28px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 60px;
  transition: .4s;
}
.index-btn:hover {
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
}








.edit-box{
  text-align: center;
}

.edit-btn {
  width: 40px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border: 2px solid white;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 150px;
  transition: .4s;
}
.edit-btn:hover {
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
}



.destroy-btn {
  width: 40px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border: 2px solid white;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 150px;
  transition: .4s;
}
.destroy-btn:hover {
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
}












.totop{
  float: right;
  bottom: 20px;
  right: 40px;
  position: fixed;
  padding: 10px;
  padding-top: 40px;
  text-align: center;
}
.totop-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid white;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 5px;
  border-radius: 60px;
  transition: .4s;
  }
.totop-btn:hover {
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
}




.shopnew{
  float: right;
  bottom: 100px;
  right: 40px;
  position: fixed;
  padding: 10px;
  padding-top: 40px;
  text-align: center;
}
.shopnew-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid white;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 5px;
  border-radius: 60px;
  transition: .4s;
  }
.shopnew-btn:hover {
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
}







