
.background-show{
  background-color: rgb(250, 233, 233);
  // background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(coffe.jpg);  /* 背景画像指定 */
  // background-repeat:  repeat-y;  /* 背景の繰り返し設定 */
  // background-position: center;    /* 背景の位置指定 */
  // background-size: auto ;
}

.shop-name{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.summary-background{
  margin: auto;
  max-width: 90%;
  height: 380px;
  background-color: rgba(255,0,0,0.2);
}


.shop-summary{
  margin: auto;
  max-width: 90%;
  height: 550px;
  background: -moz-linear-gradient(top, #FFC778, transparent);
  background: -webkit-linear-gradient(top, #FFC778, transparent);
  background: linear-gradient(to bottom, #FFC778, transparent),
  url(coffe.jpg);
  background-size: cover;
  color: white;


  table {
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 6px;
  }
  tr {
    height: 50px;
  }
  table th{
    padding: 0 10px 10px 50px;
    width: 200px;
    font-weight: bold;
  }
  table td{
    padding: 3px;
    width: 200px;
  }
}

.shop-image{
  max-width: 90%;
  height: auto;
  display: block;
  margin:55px auto;
  
}
.navi-link-btn {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 30px;



  .btn:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }
  .btn{
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    width: 550px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
    background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
    background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
    color:#fff;
    position:relative;
    height:100px;
    font-size:35px;
    letter-spacing: 15px;
    padding:0 10px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .btn:hover{
    background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
    background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
    background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
    color:rgb(82, 52, 52);
    font-weight: bold;
    font-size: 65px;
    letter-spacing: 15px;
  }
  .btn:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
    transition:700ms ease all;
  }
  .btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn:hover:before,:hover:after{
    width:100%;
    transition:1500ms ease all;
  }
  










// /* ここから下がボタンのCSS　*/
// .btn {
//   display: inline-block;
//   // max-width: 180px;
//   width: 550px;
//   height: 100px;
//   text-align: center;
//   line-height: 100px;
//   border: 2px solid white;
//   font-size: 32px;
//   color: white;
//   text-decoration: none;
//   font-weight: bold;
//   padding: 8px 16px;
//   border-radius: 20px;
//   transition: .4s;
// }
// .btn:hover {
//   background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
//   background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
//   background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
//   background-size:cover;
//   border-color: white;
//   color:white;

// }

}





