
.background-shop-new{
  width: 100vw;
  height: 830px;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(art.jpg);
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size: cover;
  width: 100vw;
}
.back{
  float: right;
  bottom: 20px;
  right: 40px;
  position: fixed;
  padding: 10px;
  padding-top: 40px;
  text-align: center;
}