ul.shop-edit-form{
  text-align: center;
  width: 45vw;
  margin: 0 auto;
  input::placeholder{
    color: white;
    letter-spacing: 0.5vw;
  }
  input{
    background-color: rgba(37, 36, 36, 0.55);
    color: white;
    text-align: center;
    width: 40vw;
    height: 2.5vw;
    margin-top: 3px;
  }
}
.geocoding-link{
  text-align: center;
  margin-top: 3vw;
}
.geocoding-btn{
  text-decoration: none;
  box-shadow: 5px 5px 5px 2px gray;
}
.back{
  text-align: center;
  margin-top: 3vw;
}
.totop-btn{
  text-decoration: none;
  box-shadow: 5px 5px 5px 2px gray;
}