html{font-size: 62.5%;}
body{
  font-size:1.6rem;/* 16px*/
  line-height: 2;
}
// --------------------------------
.topwrapper{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(topdemo.jpg);  /* 背景画像指定 */
  background-repeat: repeat; 
  background-position: center;  
  background-size: cover;
}
.signout-topwrapper{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(mapimage.jpg);  /* 背景画像指定 */
  background-repeat: repeat; 
  background-position: center;  
  background-size: cover;
}
.heder-container{
  width: 100vw;
  height: 12vw;
  background-color: rgba(66, 32, 32, 0.8);
  color: white;
  h1{
    font-size: 3.2vw;
    letter-spacing: 1vw;
    margin-left: 2vw;
  }
  i{
    margin-left: 2vw;
  }
  span.toptext {
    font-size: 1.2vw;
  }
  p.toptext-eng {
    margin-left: 2.5vw;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
  }
}

span.indicator{
  float: right;
  top:1vw;
  margin-right: 4vw;
  width: 12vw;
  font-size: 1.2vw;
  line-height: 1.2vw;
  border: 2px solid white;
  text-align: center;
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 10vw;
}
// --------------------------

.guidance-box {
  margin-top: 4vw;
  text-align: center;
}
.top-btn {
  display: inline-block;
  width: 50vw;
  font-size: 1.5vw;
  line-height: auto;
  border: 2px solid white;
  text-align: center;
  color: white;
  letter-spacing:0.5vw;
  text-decoration: none;
  font-weight: bold;
  padding: 1.5vw 1vw;
  border-radius: 10vw;
  background-color: rgba(112, 108, 108, 0.5);
  transition: .4s;
}
.top-btn:hover {
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
}
// ------------------------------------
.topsignout{
  padding-top: 6vw;
  text-align: center;
}
.topsignout-btn {
  display: inline-block;
  width: 21vw;
  font-size: 2w;
  line-height: 3vw;
  border: 2px solid white;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5vw 1vw;
  border-radius: 10vw;
  background-color: rgba(112, 108, 108, 0.5);
  transition: .4s;
}
.topsignout-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}
// --------------------------------

.sign-in{
  margin-top: 4vw;
  text-align: center;
}
.signin-btn {
  display: inline-block;
  width: 40vw;
  font-size: 2vw;
  line-height: auto;
  border: 2px solid white;
  text-align: center;
  color: white;
  letter-spacing:0.5vw;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10vw;
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: white;
  color:white;
  transition: .4s;
}
.signin-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:black;
}
// ---------------------------------------------
.registrations{
  margin-top: 4vw;
  text-align: center;
}
.regist-btn {
  display: inline-block;
  width: 40vw;
  font-size: 1.5vw;
  line-height: auto;
  border: 2px solid white;
  text-align: center;
  color: white;
  letter-spacing:0.5vw;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10vw;
  background-color: rgba(112, 108, 108, 0.5);
  transition: .4s;
}
.regist-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}
// ----------------------------------------
.inquirypage{
  margin-top: 4vw;
  text-align: center;
}
.inquirypage-btn {
  display: inline-block;
  width: 21vw;
  font-size: 2w;
  line-height: 3vw;
  border: 2px solid white;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5vw 1vw;
  border-radius: 10vw;
  background-color: rgba(112, 108, 108, 0.5);
  transition: .4s;
}
.inquirypage-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}








// -------------------------------
/* スマホ　横幅　480px
------------------------------ */
@media screen and (max-width:420px) {
 
  .topwrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(democafe.jpg);  /* 背景画像指定 */
    background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
    background-position: center;    /* 背景の位置指定 */
    background-size: cover;
  }
  .heder-container{
    height: 23vw;

    p.toptext-eng {
      margin-left: 1vw;
      font-size: 1vw;
      letter-spacing: 0vw;
    }
  }
  span.indicator{
    display: none;
  }


  .background-signin {
    width: 100vw;
    height: 100vh;
    background: none;
  }
  .explanationbox{
    margin: auto;
    max-width: 100%;
    height: 12rem;
  }
 
  .guidance-box {
    margin-top: 15vw;
  }
  .top-btn {
    width: 80%;
    font-size: 1.5vw;
    letter-spacing: 2vw;
    border: 0.1rem solid white;
    height: 30vw;
    line-height: 10vw;
    margin-top: 2rem;
    border-radius: 15vw;
  }
  .topsignout{
    padding-top: 20vw;
  }
  .topsignout-btn {
    width: 40vw;
    border: 0.1rem solid white;
    font-size: 1.5vw;
    letter-spacing: 1vw;
    height: 10vw;
    font-weight: normal;
    line-height: 5vw;
  }
  span.indicator{
    font-size: 1vw;
    width: 25vw;
    bottom: 5vw;
    right: 5vw;
    border: 1px solid rgb(61, 25, 25);
    letter-spacing: 0vw;
    font-weight: normal;
    border-radius: 10vw;
  }
  // 以下サインアウト時-------------------------

  .signout-topwrapper{
    height: 100vh;
  }
  .sign-in{
    padding-top: 13vw;
  }
  .signin-btn {
    width: 80%;
    font-size: 3vw;
    line-height: 10vw;
    font-weight: bold;
    letter-spacing: 1.5vw;
    border: 0.1rem bold white;
    height: 22vw;
    margin-top: 8vw;
    border-radius: 15vw;
  }
  .registrations{
    padding-top: 10vw;
  }
  .regist-btn {
    width: 80%;
    font-size: 3vw;
    line-height: 10vw;
    font-weight: bold;
    letter-spacing: 1.5vw;
    border: 0.1rem bold white;
    height: 22vw;
    margin-top: 8vw;
    border-radius: 15vw;
  }
}