.background-show{
  background-color: rgb(250, 233, 233);
}
.googlemap{
  #map-02{
    height: 100%;
    width: 100%;
    border: 2px solid white;
  }
  .image{
    height:13vw;
    width:15vw;
  }
    .sample {
      font-family: "Sawarabi Gothic";
    }
}
.shop-summary{
  margin: 3vw auto;
  width: 85vw;
  height: 68vw;
  background: -moz-linear-gradient(top, #FFC778, transparent);
  background: -webkit-linear-gradient(top, #FFC778, transparent);
  background: linear-gradient(to bottom, #FFC778, transparent),url(democafe.jpg);
  background-size: cover;
  color: white;
  border-radius: 5vw;
}
.summary-background{
  margin: auto;
  width: 85vw;
  height: 68vw;
  background-color: rgba(255,0,0,0.2);
  border-radius: 5vw;
}
.shop-name{
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
  table {
    margin: auto;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 1vw;
  }
  tr {
    height: 1.5vw;
  }
  table th{
    padding: 0 10px 10px 50px;
    width: 20vw;
    font-weight: bold;
  }
  table td{
    padding: 3px;
    width: 20vw;
  }
.comment-title{
  width: 90vw;
  text-align: center;
  font-size: 2vw;
  color:rgb(42, 42, 117);
}
p.comment-name{
  font-size: 1.8vw;
  font-weight: bold;
  color:rgb(87, 87, 182);
}
.comments-container{
  color:rgb(35, 35, 88);
  font-size: 1.5vw;
  overflow: scroll;
  width: 90%;
  height: 34vw;
  margin: 0 auto;
  background-color: rgba(255,0,0,0.2);
  .comments-index{
    display: block;
  }
  .comment-innner{
   margin-left: 10px;
  }
}
#comment_text.text_area{
  height: 5vw;
  width: 60vw;
}
.text_area{
  margin: 2vw auto;
  display: block;
  text-align: center;
}
.comment-submit{
  display: block;
  text-align: center;
  }
.comment-btn {
    padding: 1vw;
    width: 10vw;
    display: inline-block;
    text-decoration: none;
    background: #9c7d4f;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #9c7d4f;
    border: dashed 1px #FFF;
  }
  .comment-btn:hover {
    border: dotted 1px #FFF;
  }


input.visible{
  width : 2vw;
  height: 2vw;
  transform: scale(1.5);
  margin-left:10px;
}

input[value="sss"]:checked ~ .comments-form{
  visibility:visible;
  }
.comments-form{
  visibility:hidden;
}
.hidden-visible-btn{
  text-align: center;
  font-size: 2vw;
  color:rgb(122, 36, 36);
}


.return{
  z-index: 100;
  float: right;
  bottom: 30px;
  right: 30px;
  position: fixed;
  padding: 10px;
}
.return-btn {
  background-color: rgba(41, 9, 9, 0.25);
  text-align: center;
  display: inline-block;
  width: 150px;
  line-height: 50px;
  border: 2px solid rgb(92, 57, 25);
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 5px;
  border-radius: 60px;
  transition: .4s;
  }
.return-btn:hover {
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
  border-color: black;
  color:black;
}
.mapnavi{
  z-index: 100;
  float: right;
  bottom: 120px;
  right: 30px;
  position: fixed;
  padding: 10px;
}
.shop-image{
  z-index: 1;
  display: block;
  border: 3px solid #ddd;
  border-radius: 30px;
  width: 75vw;
  height: 60vw;
  margin: 5vw auto 0;
  transition-duration: 0.5s;
}
.shop-image img{
  width: 100%;
  transition-duration: 0.5s;
}
.shop-image:hover{
  transform: scale(1.8);
  transition-duration: 2.0s;
}















// -------------------------------
/* スマホ　横幅　480px
------------------------------ */
@media screen and (max-width:420px) {
 
  .shop-name {
    line-height: 10vw;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 5px;
}
.shop-summary{
 height: 80vw;
}
.summary-background{
  height: 80vw;
}
table {
  margin: auto;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 1vw;
}
table th{
  padding: 0 0vw 0vw 10vw;
  width: 20vw;
  font-weight: bold;
}
table td{
  padding: 0px;
  width: 20vw;
}
.comments-container{
  font-size: 1vw;
  height: 25vw;
  
}
#comment_text.text_area{
  height: 10vw;
  width: 60vw;
  background-color: rgb(248, 239, 239);
}
.comment-btn {
  width: 13vw;
}
.mapnavi{
  float: left;
  bottom: 5vw;
  left: 3vw;
}
.return{
  float: right;
  bottom: 5vw;
  right: 3vw;
}
.return-btn {
  width: 35vw;
}
}

