html{
  font-size: 62.5%;
  }
  // --------------------------
body{
  font-size:1.6rem;/* 16px*/
  line-height: 2;
    }
.back-to{
  margin-top: 5vw;
  text-align: center;
}
.back-to-btn {
  margin-top: 2vw;
  display: inline-block;
  width: 45vw;
  font-size: 1.5vw;
  line-height: 3.5vw;
  border: 2px solid white;
  text-align: center;
  color: white;
  letter-spacing:1vw;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5vw 1vw;
  border-radius: 10vw;
  background-color: rgba(112, 108, 108, 0.5);
  transition: .4s;
  box-shadow: 5px 5px 5px 2px gray;
}
.back-to-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
background-size:cover;
border-color: white;
color:white;
}

// -------------------------------
// レスポンシブブレイクポイントwidth:820px
// -------------------------------
@media screen and (max-width:820px) {
  // .easy-btn {
  //   margin-top: 2rem;
  //   background-color:rgba(0,0,0,0);
  //   display: inline-block;
  //   width: 65%;
  //   border: 1px solid rgb(83, 47, 47);
  //   font-size: 2rem;
  //   font-weight: normal;
  // }

  .actions{
    margin-top: 10vw;
  }
  .back-to{
    margin-top: 10vw;
  }
  .back-to-btn {
    width: 80%;
    font-size: 3vw;
    line-height: 10vw;
    font-weight: bold;
    letter-spacing: 1.5vw;
    border: 0.1rem bold white;
    height: 22vw;
    margin-top: 8vw;
    border-radius: 15vw;
  }
  }