html{
  font-size: 62.5%;
  }
  // --------------------------
body{
  font-size:1.6rem;/* 16px*/
  line-height: 2;
    }
.back-to{
  text-align: center;
}
.back-to-btn {
  margin-top: 2vw;
  display: inline-block;
  width: 45vw;
  font-size: 1.5vw;
  line-height: 3.5vw;
  border: 2px solid white;
  text-align: center;
  color: white;
  letter-spacing:1vw;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5vw 1vw;
  border-radius: 10vw;
  background-color: rgba(112, 108, 108, 0.5);
  transition: .4s;
}
.back-to-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}

// -------------------------------
/* スマホ　横幅　480px
------------------------------ */
@media screen and (max-width:420px) {
 
  .easy-btn {
    margin-top: 2rem;
    background-color:rgba(0,0,0,0);
    display: inline-block;
    width: 65%;
    border: 1px solid rgb(83, 47, 47);
    font-size: 2rem;
    font-weight: normal;

  }
  .back-to-btn {
    margin-top: 5rem;
    background-color:rgba(0,0,0,0);
    display: inline-block;
    width: 57%;
    border: 1px solid rgb(83, 47, 47);
    font-size: 2rem;
    font-weight: normal;

  }

  }



 
  












