.easy-btn {
  margin-top: 20px;
  background-color:rgba(0,0,0,0);
  display: inline-block;
  width: 270px;
  line-height: 30px;
  border: 2px solid rgb(83, 47, 47);
  font-size: 22px;
  color: rgb(77, 36, 36);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 60px;
  transition: .4s;
}
.easy-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}



.stop-btn {
  background-color:rgba(0,0,0,0);
  display: inline-block;
  width: 270px;
  line-height: 30px;
  border: 2px solid rgb(83, 47, 47);
  font-size: 22px;
  color: rgb(77, 36, 36);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 0px;
  border-radius: 60px;
  transition: .4s;
}
.stop-btn:hover {
background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
background-size:cover;
border-color: white;
color:white;
}