.inquiry-topwrapper
  .heder-container
    %h1 NomadCafe
    %i.fa.fa-coffee
    %span.toptext ノマドワークに適した wifi・電源フリー のお店をご案内します
    %p.toptext-eng We will guide you to wifi and power-free Cafes suitable "for nomad work"
    .hedaer-box
      .hedaer-innner

  .page-header
    %h1 管理者へEメールを送付しました
  %p
    <br>
    ご連絡先を記入頂いた場合は必ずご返信いたします。
    <br>
    <br>
    お問い合わせいただきありがとうございました。
 
  .thanks-blank
  .inquiry-thanks-totop
    = link_to root_path, class: 'to-top-btn' ,data: {"turbolinks" => false}do
      %span もどる<br>Go back to previous page